TgCrypto
git+https://github.com/AsmSafone/pyrogram@master
py-tgcalls==0.8.1
requests
aiohttp
aiofiles
asyncio
wget
python-arq
youtube-search-python==1.4.6
youtube-search-python
yt-dlp
python-dotenv


